[submodule "project/atropos-java/autocancel_exp"]
	path = project/atropos-java/autocancel_exp
	url = git@github.com:liuyc1515/AutoCancelExperiment.git
[submodule "project/atropos-java/autocancel_java_code"]
	path = project/atropos-java/autocancel_java_code
	url = git@github.com:liuyc1515/AutoCancelJavaLib.git
[submodule "project/atropos-java/elasticsearch"]
	path = project/atropos-java/elasticsearch
	url = git@github.com:liuyc1515/elasticsearch.git
[submodule "project/atropos-java/solr"]
	path = project/atropos-java/solr
	url = git@github.com:liuyc1515/solr.git
[submodule "project/atropos-java/scripts/baseline/psp/psp_src"]
	path = project/atropos-java/scripts/baseline/psp/psp_src
	url = git@github.com:liuyc1515/AutoCancelPsp.git
[submodule "project/atropos-java/scripts/baseline/psandbox/toy_sandbox"]
	path = project/atropos-java/scripts/baseline/psandbox/toy_sandbox
	url = git@github.com:liuyc1515/AutoCancelToySandbox.git
