/project/atropos-java/autocancel_c_code
/project/atropos-java/FlameGraph
/project/atropos-java/hive
/project/atropos-java/solr-bench
/project/atropos-java/cilantro

/project/atropos-java/scripts/data/*
!/project/atropos-java/scripts/data/.gitkeep
!/project/atropos-java/scripts/data/rally_home
/project/atropos-java/scripts/data/rally_home/*
!/project/atropos-java/scripts/data/rally_home/rally.ini
/project/atropos-java/scripts/logs/*
!/project/atropos-java/scripts/logs/.gitkeep

/project/atropos-java/scripts/microbenchmark/solr-bench/SolrNightlyBenchmarksWorkDirectory
/project/atropos-java/scripts/microbenchmark/solr-bench/target
/project/atropos-java/scripts/microbenchmark/solr-bench/suites/results
/project/atropos-java/scripts/microbenchmark/solr-bench/suites/ecommerce-events.json.gz
/project/atropos-java/scripts/microbenchmark/solr-bench/apache-zookeeper-3.8.3-bin.tar.gz

note

.cache
.config

.bash_history

__pycache__

# External repos for exp use
/project/atropos-java/solr-bench
/project/atropos-java/PARTIES
/project/atropos-java/psp
/project/atropos-java/toy_sandbox

/project/atropos-go/*.zip
